In [3]:
import pandas as pd

In [4]:
demo_seed = "79 14 55 13"
demo_seed_to_soil = pd.DataFrame({
    'seed_to_soil': ["50 98 2",
                     "52 50 48"]
})
demo_soil_to_fertilizer = pd.DataFrame({
    'soil_to_fertilizer': ["0 15 37",
                           "37 52 2",
                           "39 0 15"]
})
demo_fertilizer_to_water = pd.DataFrame({
    'fertilizer_to_water': ["49 53 8",
                            "0 11 42",
                            "42 0 7",
                            "57 7 4"]
})
demo_water_to_light = pd.DataFrame({
    'water_to_light': ["88 18 7",
                        "18 25 70"]
})
demo_light_to_temperature = pd.DataFrame({
    'light_to_temperature': ["45 77 23",
                            "81 45 19",
                            "68 64 13"]
})
demo_temperature_to_humidity = pd.DataFrame({
    'temperature_to_humidity': ["0 69 1",
                                "1 0 69"]
})
demo_humidity_to_location = pd.DataFrame({
    'humidity_to_location' : ["60 56 37",
                              "56 93 4"]
})

                                               seeds
0  929142010 467769747 2497466808 210166838 37681...

In [58]:
demo_seed = pd.read_excel('../DATA/Day05_PlanningSeed.xlsx', sheet_name="seeds")
demo_seed_to_soil = pd.read_excel('../DATA/Day05_PlanningSeed.xlsx', sheet_name="seed_to_soil")
demo_soil_to_fertilizer = pd.read_excel('../DATA/Day05_PlanningSeed.xlsx', sheet_name="soil_to_fertilizer")
demo_fertilizer_to_water = pd.read_excel('../DATA/Day05_PlanningSeed.xlsx', sheet_name="fertilizer_to_water")
demo_water_to_light = pd.read_excel('../DATA/Day05_PlanningSeed.xlsx', sheet_name="water_to_light")
demo_light_to_temperature = pd.read_excel('../DATA/Day05_PlanningSeed.xlsx', sheet_name="light_to_temperature")
demo_temperature_to_humidity = pd.read_excel('../DATA/Day05_PlanningSeed.xlsx', sheet_name="temperature_to_humidity")
demo_humidity_to_location = pd.read_excel('../DATA/Day05_PlanningSeed.xlsx', sheet_name="humidity_to_location")

ValueError: Worksheet named 'temperature_to_humidity' not found

# Part 1

In [41]:
string_seed = demo_seed.split(" ")
seed_df = pd.DataFrame({
    'seed': string_seed
})
seed_df['seed'] = seed_df['seed'].astype(int)
min_seed = seed_df['seed'].min()
max_seed = seed_df['seed'].max()

seed_need_to_create_data = pd.DataFrame({
    'seed': list(range(min_seed, max_seed + 1))
})

In [20]:
matching_dict = {
    'source': [],
    'destination': []
}

for index, row in demo_seed_to_soil.iterrows():

    string_to_expand = row['seed_to_soil']
    string_to_expand = string_to_expand.split(" ")

    start_destination = int(string_to_expand[0])
    start_source = int(string_to_expand[1])
    length = int(string_to_expand[2])
    list_source = list(range(start_source, start_source + length))
    list_destination = list(range(start_destination, start_destination + length))

    for i in list_source:

        matching_dict['source'].append(i)

    for j in list_destination:

        matching_dict['destination'].append(j)

In [43]:
def ConvertStringToMatchingTable(input_df,
                                 need_to_create_data_df,
                                 name_source,
                                 name_destination,
                                 column_name):

    matching_dict = {
    'source': [],
    'destination': []
    }

    for index, row in input_df.iterrows():

        string_to_expand = row[column_name]
        string_to_expand = string_to_expand.split(" ")

        start_destination = int(string_to_expand[0])
        start_source = int(string_to_expand[1])
        length = int(string_to_expand[2])
        list_source = list(range(start_source, start_source + length))
        list_destination = list(range(start_destination, start_destination + length))

        for i in list_source:

            matching_dict['source'].append(i)

        for j in list_destination:

            matching_dict['destination'].append(j)
    
    output_df = pd.DataFrame(matching_dict).rename(columns={
        'source': name_source,
        'destination': name_destination
    })

    need_to_create_data_df = need_to_create_data_df[~need_to_create_data_df[name_source].isin(output_df[name_source])]
    need_to_create_data_df[name_destination] = need_to_create_data_df[name_source]

    output_df = pd.concat([output_df, need_to_create_data_df])

    return output_df

In [51]:
seed_to_soil_df = ConvertStringToMatchingTable(input_df=demo_seed_to_soil,
                                               need_to_create_data_df=seed_need_to_create_data,
                                               name_source="seed",
                                               name_destination='soil',
                                               column_name='seed_to_soil')

output_seed = seed_df.merge(seed_to_soil_df, on='seed')
soil_need_to_create = pd.DataFrame({
    'soil': list(range(min(output_seed.soil), max(output_seed.soil) + 1))
})

soil_to_fertilizer_df = ConvertStringToMatchingTable(input_df=demo_soil_to_fertilizer,
                                                need_to_create_data_df=soil_need_to_create,
                                               name_source="soil",
                                               name_destination='fertilizer',
                                               column_name='soil_to_fertilizer')

output_seed = output_seed.merge(soil_to_fertilizer_df, on='soil')

fertilizer_need_to_create = pd.DataFrame({
    'fertilizer': list(range(min(output_seed.fertilizer), max(output_seed.fertilizer) + 1))
})

fertilizer_to_water_df = ConvertStringToMatchingTable(input_df=demo_fertilizer_to_water,
                                                      need_to_create_data_df=fertilizer_need_to_create,
                                               name_source="fertilizer",
                                               name_destination='water',
                                               column_name='fertilizer_to_water')

output_seed = output_seed.merge(fertilizer_to_water_df, on='fertilizer')

water_need_to_create = pd.DataFrame({
    'water': list(range(min(output_seed.water), max(output_seed.water) + 1))
})

water_to_light_df = ConvertStringToMatchingTable(input_df=demo_water_to_light,
                                                 need_to_create_data_df=water_need_to_create,
                                               name_source="water",
                                               name_destination='light',
                                               column_name='water_to_light')

output_seed = output_seed.merge(water_to_light_df, on='water')

light_need_to_create = pd.DataFrame({
    'light': list(range(min(output_seed.light), max(output_seed.light) + 1))
})

light_to_temperature_df = ConvertStringToMatchingTable(input_df=demo_light_to_temperature,
                                                       need_to_create_data_df=light_need_to_create,
                                               name_source="light",
                                               name_destination='temperature',
                                               column_name='light_to_temperature')

output_seed = output_seed.merge(light_to_temperature_df, on='light')

temperature_need_to_create = pd.DataFrame({
    'temperature': list(range(min(output_seed.temperature), max(output_seed.temperature) + 1))
})

temperature_to_humidity_df = ConvertStringToMatchingTable(input_df=demo_temperature_to_humidity,
                                                          need_to_create_data_df=temperature_need_to_create,
                                               name_source="temperature",
                                               name_destination='humidity',
                                               column_name='temperature_to_humidity')

output_seed = output_seed.merge(temperature_to_humidity_df, on='temperature')

humidity_need_to_create = pd.DataFrame({
    'humidity': list(range(min(output_seed.humidity), max(output_seed.humidity) + 1))
})

humidity_to_location_df = ConvertStringToMatchingTable(input_df=demo_humidity_to_location,
                                               need_to_create_data_df=humidity_need_to_create,
                                               name_source="humidity",
                                               name_destination='location',
                                               column_name='humidity_to_location')

output_seed.merge(humidity_to_location_df, on='humidity')

/tmp/ipykernel_806845/1385997993.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  need_to_create_data_df[name_destination] = need_to_create_data_df[name_source]
/tmp/ipykernel_806845/1385997993.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  need_to_create_data_df[name_destination] = need_to_create_data_df[name_source]
/tmp/ipykernel_806845/1385997993.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  need_to_create_data_df[name_destination] = need_to_create_data_df[name_source]
/tmp/ipykernel_806845/1385997993.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  need_to_create_data_df[name_destination] = need_to_create_data_df[name_source]
/tmp/ipykernel_806845/1385997993.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  need_to_create_data_df[name_destination] = need_to_create_data_df[name_source]

   seed  soil  fertilizer  water  light  temperature  humidity  location
0    79    81          81     81     74           78        78        82
1    14    14          53     49     42           42        43        43
2    55    57          57     53     46           82        82        86
3    13    13          52     41     34           34        35        35

TypeError: ConvertStringToMatchingTable() missing 1 required positional argument: 'need_to_create_data_df'

In [42]:
seed_df.merge(seed_to_soil_df, on = "seed")

   seed  soil
0    79    81
1    14    14
2    55    57
3    13    13